#landing-page{
    background-repeat:no repeat;
    background-size:cover;
    height:100vh;
    padding-top:35vh;
    background-image: url('landingPicture.png');
    
}
.card{
    background-color:rgb(126, 126, 197);
}